body {
    background-image: url("img/about-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.container {
    max-width: 100%
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.row:after,
.row:before {
    display: table;
    content: " ";
    clear: both;
}

.col-lg-8,
.col-sm-6,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:768px) {
    .col-sm-6 {
        float: left;
    }
    .col-sm-6 {
        width: 48%;
    }
    .col-sm-pull-6 {
        right: 48%;
    }
    .col-sm-push-6 {
        left: 48%;
    }
    .col-sm-offset-6 {
        margin-left: 48%;
    }
}

@media (min-width:1200px) {
    .col-lg-12 {
        float: left
    }
    .col-lg-12 {
        width: 100%
    }
}

.text-center {
    text-align: center
}

h2.section-heading {
    padding-top: 50px;
    color: #E9E9E9;
    font-weight: 600;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    color: #E9E9E9;
}

.team-member {
    text-align: center;
    margin-bottom: 50px;
}

.team-member img {
    margin: 0 auto;
    border: 5px solid white;
    height: 200px;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

p.large {
    margin-top: -15px;
    font-size: 20px;
    color: #E9E9E9;
    padding-bottom: 50px;
}
