body {
    background-image: url("img/account-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2em;
}

form {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    color: #E9E9E9;
    font-size: 2.4em;
    margin-bottom: 10px;
    text-align: center;
}

span {
    text-align: left;
    color: #ff0039;
    margin-left: 0;
}

.number {
    background-color: #4EB1BA;
    color: #E9E9E9;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
}

label {
    text-align: left;
    text-decoration: solid;
    font-style: italic;
    display: block;
    margin-bottom: 8px;
    color: #E9E9E9;
}

input {
    display: block;
    padding: 10px 0;
    width: 30%;
    margin-bottom: 10px;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    -ms-transition: background 1s ease;
    transition: background 1s ease;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: 2px solid #ddd;
    background: rgba(255, 244, 244, 0.64);
    margin-bottom: 15px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

input.ng-invalid.ng-dirty {
    border-color: #ff0039;
}

input.ng-valid.ng-dirty {
    border-color: #2780e3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.passButton {
    cursor: pointer;
    cursor: hand;
    color: #4EB1BA;
    text-decoration: underline;
}

.password {
    display: none;
    margin: 10px;
}

.proceed {
    padding: 10px 18px 10px 15px;
    color: #E9E9E9;
    background-color: #4EB1BA;
    font-size: 15px;
    font-style: normal;
    border-radius: 10px;
    margin-left: 48px;
    width: 70%;
    text-transform: uppercase;
    border: 1px solid #4EB1BA;
    border-width: 1px 1px 3px;
    cursor: pointer;
    cursor: hand;
}

.red {
    padding: 10px 18px 10px 15px;
    color: #E9E9E9;
    background-color: #d3133e;
    font-size: 15px;
    font-style: normal;
    border-radius: 10px;
    margin-left: 48px;
    width: 70%;
    text-transform: uppercase;
    border: 1px solid #d3133e;
    border-width: 1px 1px 3px;
    cursor: pointer;
    cursor: hand;
}
