body {
  background-image: url("img/account-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

form {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
}

legend {
  color: #E9E9E9;
  font-size: 2.4em;
  margin-bottom: 10px;
  text-align: center;
}

.number {
  background-color: #4EB1BA;
  color: #E9E9E9;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.password {
  display: none;
  margin: 10px;
}

.passButton {
  cursor: pointer;
  cursor: hand;
  color: #4EB1BA;
  text-decoration: underline;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
}

label {
  color: #E9E9E9;
}
