body {
  background-image: url("img/notebook-computer-chill-relax.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

p {
  margin: 0;
}

.row {
  margin: 0;
  padding: 0 20px;
}

.insertion {
  max-width: 940px;
  margin: 40px auto 30px;
  color: #ffffff;
  background: #222930;
  border-spacing: 2px;
  border-color: #222930;
  font-family: 'Oswald', serif;
  border-bottom: 1px #222930 solid;
  display: none;
}



.article {
  max-width: 940px;
  margin: 40px auto 30px;
  color: #ffffff;
  background: rgba(34, 41, 48, 0.69);
  border-spacing: 2px;
  border-color: #222930;
  font-family: 'Oswald', serif;
  border-bottom: 1px #222930 solid;
}



.form{
  width:450px;
  margin:30px;
}

input[type='text'],[type='number'] {
  outline:none;
  width:50%;
  background:#5F777E;
  /*  line-height: 10px; */
  border: none;
  margin-bottom:15px;
  box-shadow:3px 3px 6px rgba(0,0,0,.5) inset;
  color:#fff;
  /*  padding:0 10px; */
  /*  font-size:0.813em; */
  box-sizing:border-box;
}

textarea{
  outline:none;
  width:100%;
  background:#5F777E;
  line-height: 20px;
  border: none;
  margin-bottom:15px;
  box-shadow:3px 3px 6px rgba(0,0,0,.5) inset;
  color:#fff;
  padding:0 10px;
  font-size:0.813em;
  box-sizing:border-box;
}

textarea{
  width: 100%;
  line-height:1.308em;
  padding: 10px;
  min-height:50px;
  resize:vertical;
}

.current .item {
  background: rgb(193, 185, 161);
}

.item {
  position: relative;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}



.item .shorten {
  margin-left: 40px;
}

.item .title {
  padding: 20px;

  font-weight: bold;
}

.item .pubdate {
  margin-right: 20px;
}

.item .pubdate {
  text-align: right;
}

.insertion .description {
  padding: 20px;
}

.article .description {
  display: none;
  padding: 20px;
}

.description h1 {
  margin-top: 0px;
  font-size: 23px;
}

.darker {
  background-color: #222930;
}

.goalContainer {
  position: relative;
}

.goal {
  height: 50px;
  width: 90px;
  top: 100px;
  left: 80px;
  color: white;
  font-family: 'Oswald', serif;
  position: absolute;
  border: none;
  background: rgba(34, 41, 48, 0.69);
  border-radius:40px/24px;
}

.goal:hover {
  background: #222930;
}

.close {
  color: white;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
}

.close:hover {
  color: #4EB1BA;
  cursor: pointer;
}

.edit {
  color: white;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 20px;
}

.edit:hover {
  color:  #4EB1BA;
  cursor: pointer;
}

.buttonContainer {
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
}