html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/notebook-computer-chill-relax.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

a {
  text-decoration: none;
  color: #E9E9E9;
}

a:hover {
  color: #4EB1BA;
}

p {
  margin: 0;
}

.header {
  background-color: #222930;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  margin: 0;
  padding: 20px 0;
  font-size: 16px;
}

.nav li {
  color: #E9E9E9;
  font-family: 'Oswald', serif;
  font-weight: 600;
  padding: 20px 25px 20px 20px;
  display: inline;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
}

.profile {
  cursor: pointer;
}

.menu {
  /*	display:none;*/
  clear:both;
  margin:20px 0 0 0;
}
.menu li {
  font-size:12px;
  /*	margin:10px 0 0;*/
}
.menu li a {
  color:#555;
}

.menu li:hover a {
  color:#eee;
}

















.wrapper {
  min-height: 100%;
  /*height: auto !important;*/
  height: 100%;
  margin: 0 auto -2em;
}

.goal {
  height: 50px;
  width: 90px;
  top: 100px;
  left: 80px;
  color: #E9E9E9;
  font-family: 'Oswald', serif;
  position: absolute;
  border: none;
  background: rgba(34, 41, 48, 0.69);
  border-radius: 15px;
}

.goal:hover {
  background: #222930;
}

.goalContainer {
  position: relative;
  background-color: #222930;
}

.insertion {
  max-width: 940px;
  margin: 40px auto 30px;
  color: #E9E9E9;
  background: rgba(34, 41, 48, 0.69);
  border-spacing: 2px;
  font-family: 'Oswald', serif;
  display: none;
}

.insertion .description {
  padding: 20px;
}

.itemForm {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

form {
  width: 450px;
  margin: 30px;
}

.buttonContainer {
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.closeForm {
  background: rgba(34, 41, 48, 0.69);
  color: #E9E9E9;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
}

.closeForm:hover {
  color: #4EB1BA;
  cursor: pointer;
}

label {
  text-align: left;
  text-decoration: solid;
  font-style: italic;
  display: block;
  margin-bottom: 8px;
}

input {
  display: block;
  padding: 10px 0;
  width: 30%;
  margin-bottom: 10px;
  color: #E9E9E9;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  /*-ms-transition: background 1s ease;*/
  transition: background 1s ease;
}

input[type='text'] {
  height: 5%;
  width: 60%;
  font-family: 'Oswald', serif;
}

input[type='text'],
[type='number'] {
  outline: none;
  background: rgba(34, 41, 48, 1);
  line-height: 10px;
  border: none;
  margin-bottom: 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .5) inset;
  color: #E9E9E9;
  padding: 0 10px;
  font-size: 0.813em;
  box-sizing: border-box;
}

input[type="button"],
input[type="submit"] {
  -moz-box-shadow: inset 0 1px 0 0 #222930;
  -webkit-box-shadow: inset 0 1px 0 0 #222930;
  box-shadow: inset 0 1px 0 0 #222930;
  background-color: #222930;
  border: 1px solid #222930;
  display: inline-block;
  cursor: pointer;
  color: #E9E9E9;
  font-family: sans-serif;
  font-size: 14px;
  padding: 7px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*appearance: none;*/
  margin: 0;
}

input[type=number] {
  width: 30%;
  height: 5%;
}

textarea {
  outline: none;
  width: 100%;
  background: none repeat scroll 0 0 rgba(34, 41, 48, 1);
  transition: background-color 0.2s ease 0s;
  line-height: 20px;
  border: none;
  margin-bottom: 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .5) inset;
  color: #E9E9E9;
  padding: 10px;
  font-size: 0.813em;
  box-sizing: border-box;
  min-height: 60px;
  resize: none;
  font-family: 'Oswald', serif;
}

input,
select,
textarea {
  color: #E9E9E9;
}

textarea:focus,
input:focus {
  color: #E9E9E9;
}

input.ng-invalid.ng-dirty {
  border-color: #ff0039;
}

input.ng-valid.ng-dirty {
  border-color: #2780e3;
}

span {
  color: #ff0039;
  text-align: left;
  text-decoration: solid;
  font-style: italic;
  display: block;
  margin-bottom: 8px;
}

.proceed {
  padding: 10px 18px 10px 15px;
  color: #E9E9E9;
  background-color: #4EB1BA;
  font-size: 15px;
  font-style: normal;
  border-radius: 50px;
  width: 45%;
  text-transform: uppercase;
  border: 1px solid #4EB1BA;
  border-width: 1px 1px 3px;
  cursor: pointer;
  cursor: hand;
}

.red {
  padding: 10px 18px 10px 15px;
  color: #E9E9E9;
  background-color: #d3133e;
  font-size: 15px;
  font-style: normal;
  border-radius: 50px;
  width: 45%;
  text-transform: uppercase;
  border: 1px solid #d3133e;
  border-width: 1px 1px 3px;
  cursor: pointer;
  cursor: hand;
}

.article {
  max-width: 940px;
  margin: 40px auto 30px;
  color: #E9E9E9;
  background: rgba(34, 41, 48, 0.69);
  border-spacing: 2px;
  border-color: #222930;
  font-family: 'Oswald', serif;
  border-bottom: 1px #222930 solid;
}

.article .description {
  display: none;
  padding: 20px;
}

.item {
  position: relative;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.current .item {
  background: rgb(193, 185, 161);
}

.item .source {
  margin-left: 40px;
  word-wrap: break-word;
}

.item .title {
  padding: 20px;
  font-weight: bold;
  word-wrap: break-word;
}

.item .pubdate {
  margin-right: 20px;
  text-align: right;
  word-wrap: break-word;
}

.row {
  margin: 0;
  padding: 0 20px;
}

#title {
  background: rgba(34, 41, 48, 1);
  border-bottom: rgba(34, 41, 48, 1);
}

.description h1 {
  margin-top: 0;
  font-size: 23px;
  word-wrap: break-word;
}

.darker {
  background-color: #222930;
}

.close {
  color: #E9E9E9;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
}

.close:hover {
  color: #4EB1BA;
  cursor: pointer;
}

.edit {
  color: #E9E9E9;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 20px;
}

.edit:hover {
  color: #4EB1BA;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.push {
  height: 2em;
}

.footer {
  background-color: #222930;
  color: #E9E9E9;
  height: 2em;
  padding: 10px 0;
}

.footer p {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 11px;
}

.footer,
.push {
  clear: both;
}