body {
  background-image: url("img/notebook-computer-chill-relax.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}*/

p {
  margin: 0;
}

.row {
  margin: 0;
  padding: 0 20px;
}

.insertion {
  max-width: 940px;
  margin: 40px auto 30px;
  color: #ffffff;
  background: rgba(34, 41, 48, 0.69);
  border-spacing: 2px;
  font-family: 'Oswald', serif;
  display: none;
}

.article {
  max-width: 940px;
  margin: 40px auto 30px;
  color: #ffffff;
  background: rgba(34, 41, 48, 0.69);
  border-spacing: 2px;
  border-color: #222930;
  font-family: 'Oswald', serif;
  border-bottom: 1px #222930 solid;
}

.form{
  width:450px;
  margin:30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='text'] {
  width:60%;
  font-family: 'Oswald', serif;
}

input[type=number] {
  width:30%;
  height: 5%;
}

#title {
  background: rgba(34, 41, 48, 1);
  border-bottom: rgba(34, 41, 48, 1);;
}

input[type='text'],[type='number'] {
  outline:none;
  /*width:80%;*/
  background: rgba(34, 41, 48, 1);
  line-height: 10px;
  border: none;
  margin-bottom:15px;
  box-shadow:3px 3px 6px rgba(0,0,0,.5) inset;
  color:#fff;
  padding:0 10px;
  font-size:0.813em;
  box-sizing:border-box;
}

/*.buttonContainer .closeForm {
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
}

.buttonContainer .closeForm:hover {
  color: #4EB1BA;
  cursor: pointer;
}*/

textarea{
  outline:none;
  width:100%;
  background: none repeat scroll 0 0 rgba(34, 41, 48, 1);
  transition: background-color 0.2s ease 0s;
  line-height: 20px;
  /*line-height:1.308em;*/
  border: none;
  margin-bottom:15px;
  box-shadow:3px 3px 6px rgba(0,0,0,.5) inset;
  color:#fff;
  padding: 10px;
  /*padding:0 10px;*/
  font-size:0.813em;
  box-sizing:border-box;
  min-height: 60px;
  resize: none;
  font-family: 'Oswald', serif;
}

.current .item {
  background: rgb(193, 185, 161);
}

.item {
  position: relative;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}


.itemForm {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}


.item .source {
  margin-left: 40px;
}

.item .title {
  padding: 20px;

  font-weight: bold;
}

.item .pubdate {
  margin-right: 20px;
}

.item .pubdate {
  text-align: right;
}

.insertion .description {
  padding: 20px;
}

.article .description {
  display: none;
  padding: 20px;
}

.description h1 {
  margin-top: 0px;
  font-size: 23px;
  word-wrap: break-word;
}

.darker {
  background-color: #222930;
}

.goalContainer {
  position: relative;
  background-color: #222930;
}

.goal {
  height: 50px;
  width: 90px;
  top: 100px;
  left: 80px;
  color: white;
  font-family: 'Oswald', serif;
  position: absolute;
  border: none;
  background: rgba(34, 41, 48, 0.69);
  border-radius: 15px;
  /*border-radius:40px/24px;*/
}

.goal:hover {
  background: #222930;
}

.close {
  color: white;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
}

.closeForm {
  background: rgba(34, 41, 48, 0.69);
  color: white;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
}

.closeForm:hover {
  color: #4EB1BA;
  cursor: pointer;
}

.close:hover {
  color: #4EB1BA;
  cursor: pointer;
}

.edit {
  color: white;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 20px;
}

.edit:hover {
  color:  #4EB1BA;
  cursor: pointer;
}

.buttonContainer {
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
}