html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E9E9E9;
}

a:hover {
  text-decoration: none;
  color: #4EB1BA;
}

.dropdown {
  margin-left: 100px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.dropdown-toggle {
  border: none;
}

.header {
  background-color: rgba(34, 41, 48, 0.9);
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  margin: 0px;
  padding: 20px 0;
  font-size: 16px;
}

.right {
  position: absolute;
  top: 0;
  right: 30px;
}

.nav li {
  color: #E9E9E9;
  font-family: 'Oswald', serif;
  font-weight: 600;
  padding: 20px 25px 20px 20px;
  display: inline;
}

.banner {
  position: relative;
  top: 180px;
  text-align: center;
}

.banner h1 {
  color: #E9E9E9;
  font-family: 'Oswald', serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.footer {
  background-color: rgba(34, 41, 48, 0.9);
  color: #E9E9E9;
  height: 2em;
  padding: 10px 0;
}

.footer p {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 11px;
}

.push {
  height: 2em;
}

.footer, .push {
  clear: both;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
}

.caret {
  display: inline-block;
  color: #E9E9E9;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position:relative;
}

.dropdown-toggle:focus {
  outline:0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: rgba(34, 41, 48, 0.9);
  border: 1px solid rgba(34, 41, 48, 0.9);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(34, 41, 48, 0.9);
  box-shadow:0 6px 12px rgba(34, 41, 48, 0.9);
  -webkit-background-clip:padding-box;
  background-clip:padding-box
}

.dropdown-menu>li>a {
  display:block;
  padding:3px 20px;
  clear:both;
  font-weight:normal;
  line-height:1.42857143;
  color:#E9E9E9;
  white-space:nowrap
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  text-decoration:none;
  color:#4eb1ba;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  color:#E9E9E9;
  text-decoration:none;
  outline:0;
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
  color:#E9E9E9;
}

.open>.dropdown-menu {
  display:block;
}

.open>a {
  outline:0;
}

.dropdown-menu-right {
  left:auto;
  right:0;
}

.dropdown-menu-left {
  left:0;
  right:auto;
}
