html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #222930;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  margin: 0px;
  padding: 20px 0;
  font-size: 16px;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
}

.nav li {
  color: #E9E9E9;
  font-family: 'Oswald', serif;
  font-weight: 600;
  padding: 20px 25px 20px 20px;
  display: inline;
}

.banner {
  position: relative;
  top: 180px;
  text-align: center;
}

.banner h1 {
  color: #ffffff;
  font-family: 'Oswald', serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.footer {
  background-color: #222930;
  color: #E9E9E9;
  height: 2em;
  padding: 10px 0;
}

.footer p {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 11px;
}

input {
  display: block;
  padding: 10px 0;
  width: 30%;
  margin-bottom: 10px;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  -ms-transition: background 1s ease;
  transition: background 1s ease;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 2px solid #E9E9E9;
  background: transparent;
  margin-bottom: 15px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

input[type="button"],
input[type="submit"]{
  -moz-box-shadow: inset 0px 1px 0px 0px #222930;
  -webkit-box-shadow: inset 0px 1px 0px 0px #222930;
  box-shadow: inset 0px 1px 0px 0px #222930;
  background-color: #222930;
  border: 1px solid #222930;
  display: inline-block;
  cursor: pointer;
  color: #E9E9E9;
  font-family: sans-serif;
  font-size: 14px;
  padding: 7px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

input, select, textarea{
  color: #E9E9E9;
}

textarea:focus, input:focus {
  color: #E9E9E9;
}

::-webkit-input-placeholder {
  color: #E9E9E9;
}

.push {
  height: 2em;
}

.footer, .push {
  clear: both;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
}