body {
    background-image: url("img/login-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2em;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
}

form {
    width: 300px;
    padding: 100px;
    margin: 0 auto;
}

label {
    text-align: left;
    text-decoration: solid;
    font-style: italic;
    display: block;
    margin-bottom: 8px;
    color: #E9E9E9;
}

input {
    display: block;
    padding: 10px 0;
    width: 30%;
    margin-bottom: 10px;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    -ms-transition: background 1s ease;
    transition: background 1s ease;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: 2px solid #ddd;
    background: rgba(255, 244, 244, 0.64);
    margin-bottom: 15px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0px 0px 0px 48px;
}

input.ng-invalid.ng-dirty {
    border-color: #ff0039;
}

input.ng-valid.ng-dirty {
    border-color: #2780e3;
}

.proceed {
    padding: 10px 18px 10px 15px;
    color: #E9E9E9;
    background-color: #4EB1BA;
    font-size: 15px;
    font-style: normal;
    border-radius: 50px;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #4EB1BA;
    border-width: 1px 1px 3px;
    cursor: pointer;
    cursor: hand;
}

.red {
    padding: 10px 18px 10px 15px;
    color: #E9E9E9;
    background-color: #d3133e;
    font-size: 15px;
    font-style: normal;
    border-radius: 50px;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #d3133e;
    border-width: 1px 1px 3px;
    cursor: pointer;
    cursor: hand;
}

.error {
    color: #E9E9E9;
    font-style: italic;
    background-color: rgba(211, 19, 62, 0.65);
    border-radius: 20px;
    border: 1px solid #d3133e;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
}

.hideME {
    visibility: hidden;
}
